.userbox{
    margin-left: 70px;
    padding: 40px;
    background-color: rgb(201, 196, 196);
    border-radius: 10px;
    margin-top: 40px;
    width: 220px;
}
.img{
    margin: 10px;
    border-radius: 50%;
}

.box{
 display:flex;
 overflow: hidden;
 flex-wrap: wrap;
 margin-left: 40px;
 margin-bottom: 50px;
}
